*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black;
  color: white; */
}

.text-center {
  text-align: center;
}

.center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
}

.btn {
  background-color: transparent;
  color: inherit;
  padding: 0.5rem;
  background: none;
  border: none;
}

.btn:active {
  padding: 0.7rem;
  transition: all ease-in-out 0.2ms;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
